$backgroundMerah: pink;



.main {
  overflow: hidden;

  .leftCol {
    background-image: url("/images/background-logreg.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    .overlay {
      background-color: rgba(94, 80, 161, 0.8);
      height: 100vh;
      width: 100%;
    }

    .content {
      position: absolute;
      top: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;

      .sloganText {
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 66px;
        color: #ffffff;
        width: 67%;
      }

      .appLogo {
        margin-left: -13%;
        margin-bottom: 100%;
      }
    }
    
  }

  .rightCol {
    padding: 50px;
  }

  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    p{
      font-size: 30px;
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
