$backgroundMerah: pink;



.main {
  overflow: hidden;

  .welcome {
    text-align: center;
    padding-top: 85px;
  }

  .content {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-top: 45px;

    h4{
      font-size: 28px;
      text-align: center;
      margin: 13px;
    }
  }
}

@media screen and (max-width: 576px) {
  .main {
    .loginForm {
      margin-top: -181%;
      margin-left: 12%;
      position: absolute;
    }

    p{
      color: white;
    }
  }
}
