$backgroundMerah: pink;



.main {
  overflow-x: hidden;
  
  .rightCol {
    margin-top: 87%;
  }

  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
  }
}
